<h1>I am the edit page</h1>

<form action="/items/<%= @item['id'] %>" method="POST">
  <input type="text" name="item" id="item" value="<%= @item['id'] %>" autofocus>
  <input type="text" name="details" id="details" value="<%= @item['details'] %>">
  <button>Save item</button>
  
</form>
