<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>USER PAGE</title>
</head>
<body>
	<h1>Welcome <%- name%></h1>
	<ul>
		<% for(var i=0;i<gamesList.length;i++){ %>
			<li>
				<%- gamesList[i]%>
			</li>
		<% } %>
			</ul>
	
</body>
</html>