
<a href="/"><h1 class="invisible" id="logo">Gamr</h1></a>
<form class="search invisible" id="search" method="get" action="/gamesearch/">
  <input type="search" id="searchQuery" name="search">
  <button type="submit" id="searchClicked" value="search">Search</button>
</form>



<div id="nav">
  <div id="nav-content">
    <ul id="popout-nav">
      <li>
        <div class="nav-icon-text">
          <a href="/">
            <i id="icon" class="fa fa-home"></i>
            <span class="text">Home</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-icon-text">
          <a href="/account">
            <i id = "icon" class="fa fa-user"></i>
            <span class="text">User</span>
          </a>  
        </div>
      </li>
      <li>
        <div class="nav-icon-text">
          <a href="/account">
            <i id = "icon" class="fa fa-gamepad"></i>
            <span class="text">Your Games</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-icon-text">
          <a id="platforms-clicked" href="/platforms">
            <i id = "icon" class="fa fa-cog"></i>
            <span class="text">Platforms</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-icon-text">
          <a id="twitter" href="/auth/twitter">
            <i id = "icon" class="fa fa-twitter"></i>
            <span class="text">Login With Twitter</span>
          </a>
        </div>
      </li>  
    </ul>
  </div>
</div>
