<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Start</title>
	<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/transition.js"></script>
	
	<script src="js/modernizr.js"></script> <!-- Modernizr (for transition)-->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	
	<link rel="stylesheet" href="css/transition.css">
	<link rel="stylesheet" href="css/animation.css">

	<link rel="stylesheet" href="css/search.css">
	<link rel="stylesheet" href="css/nav.css">
	<link rel="stylesheet" href="css/animate.css">

	<!-- GOOGLE FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	
</head>
<body>
	<main>
		<!-- <div class="cd-index cd-main-content">
			<div>

						<div id="sign-up">
				<h1>transition</h1>
								<a class="cd-btn" href="/" data-type="page-transition">Start animation</a> -->


						<div id="header">
							<% include header %>
						</div> <!-- close sign-up -->

						<!-- pop up this div -->
<!-- 						<div id="showGame">
						</div> -->
						<!-- display the show page of the game -->

						<div id="main-games-container">
							<% include content %>
						</div><!-- close game-container -->

						<div id="footer">
							<% include footer %>
						</div>
			</div>
		</div>
	</main>
 
<div class="cd-cover-layer"></div>
<div class="cd-loading-bar"></div>

</body>
</html>

