<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1 id="gameshowtitle" ><%- name %></h1>
	<img src="<%- img %>" class="show-page-img">
	<h5><%- desc %></h5>
</body>
</html>
