<h1>Create Item</h1>

<form action='/items' method='post'>
  <dl>
    <dt><label for='item'>Item :</label></dt>
    <dd><input id='item' type='text' name='item' autofocus></dd>
  <dl>
  </dl>
    <dt><label for='details'>Details :</label></dt>
    <dd><textarea id='details' name='details'></textarea></dd>
  </dl>
  <button class="button small expand">Add Task</button>
</form>
