* {
  margin: 0;
}
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -155px; 
}

footer, .push {
  height: 155px; 
}

/* Override Foundation */
body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f4f1;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

button, .button {
  background: #eb412b;
}

a {
  color: #eb412b;
}

.top-bar {
  margin: 0 0 40px;
  background: #f47a33;
  border-bottom: 1px solid #eb412b;
}

.top-bar-section ul li > a,
.top-bar-section ul li,
.top-bar-section li a {
  background: #f47a33 !important;
}

.top-bar .row {
  width: 1000px;
}

.top-bar .row h1 a {
  padding: 0;
}

table {
  width: 100%;
}