<div class="homepage-container">
  <%= image_tag('saudi.jpg') %>
<div class="homepage-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam cum magni distinctio, voluptatem corrupti dolorum sed molestiae, aspernatur sapiente perferendis enim iure quis quos iste necessitatibus culpa. Enim soluta, autem!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates alias maxime eum, eveniet consequatur sapiente doloremque illo reiciendis, laboriosam, molestiae porro vero voluptatibus, doloribus repellendus dolores quo. Perferendis, hic, id.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates alias maxime eum, eveniet consequatur sapiente doloremque illo reiciendis, laboriosam, molestiae porro vero voluptatibus, doloribus repellendus dolores quo. Perferendis, hic, id.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates alias maxime eum, eveniet consequatur sapiente doloremque illo reiciendis</p>

</div>
</div>