<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='/normalize.css'>
  <link rel='stylesheet' href='/foundation.css'>
  <link rel='stylesheet' href='/style.css'>
  <title>ToDo App - Sinatra</title>
</head> 
<body>
  <header>
    <nav class="top-bar" data-topbar role="navigation">
      <div class="row">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">To Do App - Sinatra</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><a href='/items/new'>Create Item</a></li>
            <li><a href="/items">Items</a></li>
          </ul>
        </section>
      </div>
    </nav>
  </header>
  <main class="row">
    <%= yield %>
  </main>
  <footer></footer>
</body>
</html>
