<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </head>
  <body>
  <form id="newTodo">
   <input type="text" name="todo[title]">
   <textarea name="todo[description]"></textarea>
   <button>Save Todo</button>
  </form>
  <div class="todosCon">
  </div>
  </body>
</html>