</div class="clock">

<a href="http://time.is/United_Kingdom" id="time_is_link" rel="nofollow" style="font-size:70px;color:red"></a>
<span id="United_Kingdom_z716" style="font-size:70px;color:red"></span>
<script src="http://widget.time.is/t.js"></script>
<script>
time_is_widget.init({United_Kingdom_z716:{time_format:"hours:minutes"}});
</script>


</div>


<div class="header">
  <h1>JB todo</h1>
  <input type="text" id="new-todo" placeholder="what do you need to do today?">
</div>

</div class="clock">

<a href="http://time.is/United_Kingdom" id="time_is_link" rel="nofollow" style="font-size:70px;color:red"></a>
<span id="United_Kingdom_z716" style="font-size:70px;color:red"></span>
<script src="http://widget.time.is/t.js"></script>
<script>
time_is_widget.init({United_Kingdom_z716:{time_format:"hours:minutes"}});
</script>


</div>

<ul id="todo-list"></ul>