<h1 style="color:#000; font-size:90px; margin:100px 0 0 0; padding:0;"><span class="star">&#9733;</span>Movie Finder<span class="star">&#9733;</span></h1>
<p style="font-size:40px; margin:0; padding:0;">Like IMDB...with better font</p>

<hr class="hr">

<h2>Enter in a Movie to Search</h2>

<form action="/result" method="get">
<input type="text" name="q" class="field_input">
<button class="button">Search</button>
</form>