<!DOCTYPE html>
<html>
<head>
  <title>Meme Tube</title>
   <link rel="stylesheet" type="text/css" href="/style.css">
       <link rel='stylesheet' href='/normalize.css'>

    

</head>
<body>
<h1>MEME TUBE</h1>

    <nav>
      <li class="nav-item"><button id="brand-logo">MEMETUBE</button></li>
      <li class="nav-item"><button id="video-link">Videos</button></li>
      <li class="nav-item"><button id="new-video-link">Create new video</button></li>
    </nav>

  <%=yield%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/script.js"></script>
  
</body>
</html>